{% extends 'admin/base.html.twig' %}

{% block title %}Edycja {{subject}}{% endblock %}


{% block body %}
    <h1>Edycja {{subject}} {{entity.name}}</h1>
    {% block additional %}{% endblock %}
    {% block form %}{{ include('admin/_form.html.twig', {'button_label': 'Zapisz'}) }}{% endblock %}  
    <a href="{{list_path}}" class="btn btn-primary">Powrót do listy</a>    
    {% block additional_bottom %}{% endblock %}
{% endblock %}